P{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  rotate: 331.5deg;
  font-size: 22px;
  margin: 0;
  position: absolute;
  top: 23.5px;
  left: 22px;
}
.text span{
  position: absolute;
  transform-origin: 0px 140px;
}
.p2{
  position: absolute;
  top: 145px;
  left: 120PX;
  rotate: 345deg;
  font-size: 25PX;
}
.text2 .span2{
  position: absolute;
  transform-origin: 0px -110px;
}
body > div > div > div.text2 > p > span:nth-child(2){
  left: -5PX; 
}