.container{
  position: absolute;
  top: 50%;
  left: 50%;
  height: 210px;
  width: 210px;
  transform: translate(-50%, -50%);
  background-color: white;
  box-shadow: 15px 15px 10px #ccd5ae;
  border-radius: 20px;
}
.circle{
  position: relative;
  background-color: orange;
  height: 180px;
  width: 180px;
  left: 10%;
  top: 10%;
  border-radius: 50%;
}
.eye{
  position: absolute;
  background-color: white;
  top: 29px;
  height: 120px;
  width: 180px;
  border-radius: 80%;
  /* border: 10px solid white; */
}
.eye2{
  position: absolute;
  background-color: orange;
  height: 90px;
  width: 160px;
  top: 1px;
  left: -5px;
  border-radius: 50%;
  border: 16px solid white;
}
.eye3{
  position: absolute;
  background-color: white;
  width: 115px;
  height: 115px;
  border-radius: 50%;
  left: 23px;
  top: -14px;
}
.eye4{
  position: absolute;
  background-color: white;
  height: 65px;
  width: 65px;
  top: 16px;
  left: 15px;
  border-radius: 50%;
  border: 10px solid orange;
}

